<!DOCTYPE html>
<html>
<head>
  <title>Rari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id='top'>
    <h1 id='logo'>Rari</h1>
    <p id='motto'>find your new 'Rari today (or Honda Civic)</p>
    <footer id='author'>created by: Jeremy Bassi</footer>
    <%= logged_in? ? link_to("Log Out", :logout, id: "log")  : link_to("Log In", :login, id: "log") %>
    <% unless logged_in? %>
      <%= link_to("Sign Up!", :signup, id: "signup") %>
    <% end %>
  </header>

  <nav id='side'>
    <section id='user_info'>
       
    </section>

    <%= link_to("Home", page_index_path) %>
    <%= link_to("About", page_about_path) %>
    <%= link_to("All Cars", cars_path) %>
    <%= link_to("List a Car", new_car_path) %>
    <%= link_to("See Users", users_path) %>

    <% if logged_in? %>
      <%= link_to("Edit Profile", edit_user_path(current_user)) %>
    <% end %>

  </nav>

  <% if logged_in? %>
    <%= link_to(current_user, id: "user") do %>
      <h1 id="user_name"><%= current_user.name %></h1>
      <p id="user_cars"><strong>Cars:</strong><%= current_user.cars ? current_user.cars.count : 0 %></p>
    <% end %>
  <% end %>

  <section id='content'>
    <p id='notice'><%= notice %></p>
    <%= yield %>
  </section>

</body>
</html>
