<!DOCTYPE html>
<html>
<head>
  <title>Rari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id='top'>
    <h1 id='logo'>Rari</h1>
    <p id='motto'>find your new 'Rari today (or Honda Civic)</p>
    <footer id='author'>created by: Jeremy Bassi</footer>
    <%= logged_in? ? link_to("Log Out", :logout, id: "log")  : link_to("Log In", :login, id: "log") %>
    <% unless logged_in? %>
    <% end %>
  </header>

  <nav id='side'>
    <% if logged_in? %>
      <%= link_to(current_user, id: "user") do %>
        <section id='user_info'>
          <h1 id="user_name"><%= current_user.name %></h1>
          <p id="user_cars">Cars: <strong><%= current_user.cars ? current_user.cars.count : 0 %></strong></p>
          <p id="user_birthday_label"><strong> Member since:</strong></p>
          <p id="user_birthday"><%= current_user.birthday %></p>
          <%= link_to("Log Out", :logout, id: "log") %>
        </section>
      <% end %>
    <% else %>
      <%= image_tag("ferrari.png", width: "8%", id: 'logo_img')%>
      <%= link_to("Sign Up!", :signup, id: "signup") %>
      <%= link_to("Log In", :login, id: "log") %>
    <% end %>

    <%= link_to("Home", page_index_path, class: "nav_link", id: "home_link") %>
    <%= link_to("About", page_about_path, class: "nav_link", id: "about_link") %>
    <%= link_to("All Cars", cars_path, class: "nav_link", id: "cars_link") %>
    <%= link_to("List a Car", new_car_path, class: "nav_link", id: "new_car_link") %>
    <%= link_to("See Users", users_path, class: "nav_link", id: "users_link") %>
    <% if logged_in? %>
      <%= link_to("Edit Profile", edit_user_path(current_user), class: "nav_link", id: "edit_user_link") %>
    <% end %>

  </nav>

  <% if notice %>
    <div id='notice_area'>
      <p id='notice'><%= notice %></p>
    </div>
  <% end %>

  <section id='content'>
    <%= yield %>
  </section>

</body>
</html>
