<section id="list">

  <header>
      <h1>'Raris on the Market</h1>
      <nav id='filter'>
        <%= link_to "A-Z", cars_path(request.params.merge(:filter => 'az')), id: 'az', class: (is_active?('az'))? 'selected' : "" %> 
        <%= link_to "Z-A", cars_path(request.params.merge(:filter => 'za')), id: 'za', class: (is_active?('za'))? 'selected' : ""  %>
        <%= link_to "Newest", cars_path(request.params.merge(:filter => 'new')), id: 'new', class: (is_active?('new'))? 'selected' : ""  %> 
        <%= link_to "Oldest", cars_path(request.params.merge(:filter => 'old')), id: 'old', class: (is_active?('old'))? 'selected' : ""  %> 
        <%= link_to "Highest Price", cars_path(request.params.merge(:filter => 'high')), id: 'high', class: (is_active?('high'))? 'selected' : ""  %> 
        <%= link_to "Lowest Price", cars_path(request.params.merge(:filter => 'low')), id: 'low', class: (is_active?('low'))? 'selected' : ""  %> 
      </nav>
      <%= form_tag(cars_path, method: "get", id: "search_form") do %>
        <%= label_tag(:query, "Search:") %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search", :name => nil) %>
      <% end %>
  </header>

  <% @cars.each do |car| %>
    <section class="car">
      <%= image_tag('uploads/' + car.image, class: 'car_image') %>
      <p class='car_model'><%= car.model %></p>
      <p class='car_year'><%= car.year %></p>
      <p class='car_price'><%= number_to_currency(car.price) %></p>
      <%= link_to("View", car_path(car), class: "car_view") %> 
      <% if logged_in? && car.user_id && current_user.id == car.user_id %>
        <%= link_to("Edit", edit_car_path(car), class: "car_edit") %>
      <% end %>
    </section>
  <% end %>

  <footer>
    <%= will_paginate @cars %>
  </footer>

</section>
