<section id='car_show'>
  <%= image_tag('uploads/' + @car.image, id: 'car_image') %>

  <h1><%= @car.model %></h1>

  <h2><%= @car.year %></h2>

  <h3><%= number_to_currency(@car.price) %></h3>

  <p><%= @car.desc %></p>

  <footer>Contact: <%= User.find(@car.user_id).name %> =&gt; <%= User.find(@car.user_id).email %></footer>
  <% if logged_in? && @car.user_id && current_user.id = @car.user_id %>
    <%= link_to 'Edit', edit_car_path(@car), id: 'edit_link' %>
  <% end %>

  <%= link_to 'Back', cars_path , id: 'back_link'%>
</section>
